GOSU_VERSION=1.12
USERS="jdoe aandersson akowalska cespanola enovakova hkildong isidorov jjonsson mdupont mjanos mmustermann mrossi nnegidius onordmann pivanov ssvensson tyamada wdebruijn ycohen"
PASSWD_jdoe="test123"
GROUPS="doe_lab doe_dev doe_fellows doe_grads doe_mustermann_lab doe_yamada_lab doe_negidius_lab doe_sidorov_lab mustermann_lab yamada_lab negidius_lab"
